@charset "UTF-8";

/* html5 */
article,aside,footer,header,nav,section,figure,figcaption,summary {
	display: block;
	margin:0;
}
audio,canvas,video,svg {
	display:inline-block;
}

/* block ------------ */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,form,blockquote {
	margin:0;
}
h1,h2,h3,h4,h5,h6,small {
	font-size:100%;
}
ol,ul {
	padding:0;
	list-style:none;
}
table {
	border-collapse:collapse;  
	border-spacing:0;
}
th {
	text-align:left;
}
dt,dfn,address,em  {
	font-weight:700;
	font-style:normal;
}
q {
    quotes: none;
}

/* inline ------------ */
img {
	border:none;
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
	max-width:100%;
	height:auto;
}
table img {
	max-width:auto;
}
abbr[title],dfn[title] {
	cursor:pointer;
	border-bottom:1px dotted #000;
}
iframe {
	vertical-align:middle;
}

/* form ------------ */
fieldset {
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}

legend {
    border:0;
    padding:0;
}

button,
input,
select,
textarea {
    font-size:100%;
    margin:0 2px;
    vertical-align:baseline;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing:border-box;
}

/* default selector  --------*/
.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

a:hover .alpha {
	opacity: .75;
	-ms-filter: "alpha(opacity=75)";
}

/* page set  --------*/
body {
	font-size:12px;
	line-height:1.4;
	font-family:Meiryo,"メイリオ","ヒラギノ角ゴ Pro W3",Helvetica,Arial,sans-serif;
	/* font-family:Helvetica,Arial,sans-serif; */
}
a {
	color:#00c;
}
/*a:visited {
	color:#099;
}*/
a:hover {
	color:#555;
}


/* layout  --------*/
#wrapper {
	width:960px;
	margin:0 auto;
}
#header {
	margin:20px 0;
}
#logo {
	float:left;
	display:inline;
	font-size:120%;
}



@media screen and (max-width: 640px) {

}
